// --------------------------------------------------
// UTILITIES CLASS
// --------------------------------------------------
//
// UTILITY: Display
.inline {display: inline}
.inline-ipt {display: inline!important}
.inline-block {display: inline-block}
.inline-block-ipt {display: inline-block!important}
.block {display: block}
.block-ipt {display: block!important}

.clear {clear: both}

// UTILITY: Position
.pos-relative {position: relative}
.pos-relative-ipt {position: relative!important}
.pos-static {position: static}
.pos-static-ipt {position: static!important}
.pos-absolute {position: absolute}
.pos-absolute-ipt {position: absolute!important}

// UTILITY: Alignment
.text-left-ipt           { text-align: left!important; }
.text-right-ipt          { text-align: right!important; }
.text-center-ipt         { text-align: center!important; }
.text-justify-ipt        { text-align: justify!important; }
.text-nowrap-ipt         { white-space: nowrap!important; }

// UTILITY: Generate Utilities Class
.marginAndPadding(@maxValue: 30px);											// Generate Margin and Padding from 30 to 0
.fontSizeLoop(@maxValue: 30px, @minValue: 8px,  @countDown: 2);				// Generate Font-size from 30px to 8px
.widthSizeLoop(@maxValue: 500px, @minValue: 150px, @countDown: 50);			// Generate width 500px -> 150px
.widthSizeLoop(@maxValue: 100px, @minValue: 0px, @countDown: 5);			// Generate width 100px -> 0