head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title #{title}
	meta(name="description", content="Page description")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	link(rel="shortcut icon", href="assets/ico/favicon.ico" type="image/x-icon")
	link(rel="apple-touch-icon" , href="assets/ico/apple-touch-icon.png")
	block style
	link(href="assets/css/style.css", rel="stylesheet", type="text/css")
